* {
 margin: 0px;
 padding: 0px;
 font-family: 'Open Sans', sans-serif;
}

body {
 background: linear-gradient(109.6deg, rgb(251, 250, 225) 11.2%, rgb(206, 240, 185) 47.5%, rgb(100, 163, 111) 100.2%);
}

ul {
 float: right;
 list-style-type: none;
 margin-top: 30px;
 min-height: 400px;
 margin-right: 60px;
 font-size: 16px;
}

ul li {
 display: inline-block;
}

ul li a {
 text-decoration: none;
 color: green;
 padding: 5px 20px;
 border: 1px solid transparent;
 transition: 0.6s ease;
}

ul li a:hover {
 background-color: green;
 color: white;
}

ul li.active a {
 background-color: green;
 color: white;
}

.main {
 max-width: 1200px;
 margin: auto;
}

.title {
 position: absolute;
 top: 50%;
 left: 50%;
 transform: translate(-50%, -50%);
}

.title h1 {
 color: green;
 font-size: 70px;
}

.button {
 position: absolute;
 top: 62%;
 left: 50%;
 transform: translate(-50%, -50%);
}

.btn {
 border: 1px solid green;
 padding: 10px 30px;
 color: green;
 text-decoration: none;
 transition: 0.6s ease;
 font-size: 18px;
}

.btn:hover {
 background-color: green;
 color: white;
}

.logo img {
 float: left;
 width: 150px;
 height: auto;
 margin-top: 20px;
 margin-left: 20px;
}

.sub {
 display: none;
 top: 6%;
 position: relative;
}

.sub ul {
 position: absolute;
}

.main ul li:hover .sub {
 display: block;
 position: absolute;
 background-color: green;
 margin-top: 12px;
 margin-left: -8px;
}

.main ul li:hover .sub ul {
 display: block;
 margin: 6px;
}

.main ul li:hover .sub ul li{
 width: 75px;
 padding: 5px;
 border-bottom: 1px green solid;
 background: transparent;
 text-align: left;
 transition: 0.6s ease;
 border-radius: 0px;
}











